
<div class="content"> 
    
    <div class="container">
      <h2 class="mb-5">Transaction Details</h2>
      

      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>  

              <th scope="col">
                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
              </th>
              
              <th scope="col">Transaction Id</th>
              <th scope="col">Customer Id</th>
              <th scope="col">Bill Id</th>              
              <th scope="col">Transaction Date</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Transaction Status</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let transaction of transactions">
              <th scope="row">
                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
              <td>{{transaction.transactionId}}</td>
              <td>{{transaction.customerId}}</td>
              <td>{{transaction.billId}}</td>
              <td>{{transaction.transactionDate}}</td>
              <td>{{transaction.paymentMethod}}</td>
              <td>{{transaction.transactionStatus}}</td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>
           
          </tbody>
        </table>
      </div>


    </div>

  </div>