<div class ="container">
<div class ="header">
<h5>Welcome to Home Page !!!</h5>
<div class="dropdown">
    <button class="customer">Customer Info</button>
    <div class="dropdown-content">
        <!-- Dropdown items -->
        <a routerLink="/add-customer">Add Customer</a> 
        <a routerLink="/customer-details">Customer Details</a> 
        <a routerLink="/bill">Bill</a> 
        <a routerLink="/bulkdata">Bulk Data</a> 
        <a routerLink="/payment">Payment Details</a>         
    </div>                  
</div>
<div class="dropdown1">
    <button class="employee">Employee Info</button>
    <div class="content">
       <!-- Dropdown items -->
       <a routerLink="/employee-details">Employee-details</a>        
    </div> 
</div>
<div class="dropdown1">
    <button class="logout" routerLink="" >LogOut</button>    
</div>
</div>



<h1 style="text-align: center;">BHARAT BIJILI CORPORATION</h1>

<p style="font-size: 20px;">Bharat Bijili Corporation (BBC) is a Electric Power Utility Company in Pune which is a private 
    distributor of power to local residents. BBC has 20 employees in their Back Office Operations team to
    manage the Electricity bill payments. The power supplied by BBC is used by 10,000 families in the
    local township.</p><br><br>

<h2 style="text-align: center;">Welcome to the Power of Tomorrow</h2>
<p style="font-size: 20px;">Embrace the future with the flip of a switch. Our electricity solutions are lighting the way for a sustainable, 
    electrifying tomorrow. Discover how we're powering progress, one volt at a time.</p>
<p style="font-size: 20px;">At BBC, we're not just generating power; we're optimizing it. Discover how our smart grid solutions 
    and energy-efficient practices are revolutionizing the way you consume electricity.</p>



</div>

